.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;

  color: white;
  background-color: midnightblue;

  // &NoChat {
  //   justify-content: center;
  // }
}

.chatAreaNoChat {
  flex: 1;
  display: flex;
  flex-direction: column;

  color: white;
  background-color: midnightblue;
  justify-content: center;
}

.chatHeader {
  background-color: darkslategray;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

.messagesWrapper {
  padding: 0 20px;
}

.messageList {
  display: flex;
  flex-direction: column;
}

.messageItem {
  border-radius: 10px;
  background-color: darkslategray;
  width: 40%;
  padding: 10px 10px;

  & + .messageItem {
    margin-top: 20px;
  }

  &.own {
    background-color: cornflowerblue;
    align-self: flex-end;
  }
}

.author {
  font-weight: bold;
  margin-bottom: 10px;
}

.selectChatMsg {
  font-size: 2em;
  align-self: center;
  border-radius: 10px;
  background-color: darkslategray;
  padding: 5px 10px;
}
