@import '../../styles/templates';
@import '../../styles/variables';

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: $main-bg;
  color: white;
  flex: 1;
}

.heading {
  @extend %mainHeading;
  margin-bottom: 20px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.btn {
  @extend %btn;
}

.deleteBtn {
  border-color: white;
  color: white;
  background-color: crimson;
}

.section {
  flex: 5;
}

.aside,
.section {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
}