@import '../../styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  max-height: 120px;
  padding: 20px;
  background-color: $header-bg;
  color: $navlink-color;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navList {
  display: flex;
  gap: 20px;
}

.link {
  padding: 10px 10px;
  border: 3px solid transparent;
  border-radius: 10px;

  &:hover {
    background-color: $navlink-active-bg;
    border-color: $navlink-color;
    transition: all 0.4s;
  }

  &.activeLink {
    background-color: $navlink-active-bg;
    border-color: $navlink-current-color;
  }
}
